//- ---------------------------------
//- 💥 BOTHACK BERLIN
//- ----------------------------------

include _mixins

+slide("intro", "slide", "fast")
    +h(1) Introduction to

    +spacy-logo

    br
    br

    +h(2) Industrial-strength#[br]
        | Natural Language Processing#[br]

    p Matthew Honnibal, #[a(href="https://spacy.io") spacy.io]

+slide
    +h(2) Using spaCy

    +code.
        python -m spacy.en.download all
        &gt;&gt;&gt; import spacy
        &gt;&gt;&gt; nlp = spacy.load('en')
        &gt;&gt;&gt; query = nlp(u"I need car insurance")
        &gt;&gt;&gt; cat1 = nlp(u'home and contents')
        &gt;&gt;&gt; cat2 = nlp(u'auto insurance')
        &gt;&gt;&gt; query.similarity(cat1)
        0.79768605326858877
        &gt;&gt;&gt; query.similarity(cat2)
        0.76848982281235922

+slide
    +h(2) spaCy speaks both English and German

    +code.
        &gt;&gt;&gt; de_nlp = spacy.load('de')
        &gt;&gt;&gt; en_nlp = spacy.load('en')

    +list
        +item English support a bit better overall

+slide
    +h(2) Find verbs

    +code.
        &gt;&gt;&gt; from spacy.symbols import *
        &gt;&gt;&gt; doc = nlp(u'Where should I eat?')
        &gt;&gt;&gt; [word for word in doc if word.pos == VERB]
        [u'should', u'eat']

    +list
        +item Parse tree gives useful heuristics.
        +item #[code ROOT], #[code nsubj], #[code dobj] are good, central content words (verb subject object)
        +item Short path to root generally means important.

    +code.
        &gt;&gt;&gt; [(word.dep_, word) for word in doc if word.pos == VERB]
        [(u'aux', should), (u'ROOT', eat)]
        &gt;&gt;&gt; [(1, u'aux', should), (0, u'ROOT', eat)]

+slide
    +h(2) Find named entities

    +code.
        &gt;&gt;&gt; doc = nlp(u"Where's the cheapest dentist in New York?")
        &gt;&gt;&gt; [(ent.label_, ent.text) for ent in doc]
        [(u'GPE', u'New York')]

+slide
    +h(2) Set flags

    +code.
        &gt;&gt;&gt; is_job = nlp.vocab.set_flag(lambda string: string in (u'doctor', u'lawyer', u'mechanic'))
        &gt;&gt;&gt; doctor, nurse, potato = nlp(u'doctor nurse potato')
        &gt;&gt;&gt; doctor.check_flag(is_job)
        True
        &gt;&gt;&gt; potato.check_flag(is_job)
        False
        &gt;&gt;&gt; nurse.check_flag(is_job)
        &gt;&gt;&gt; jobs = nlp(u'doctor lawyer mechanic')
        &gt;&gt;&gt; is_job = nlp.vocab.add_flag(lambda string: jobs.similarity(nlp.vocab[string]) &gt; 0.5)
        &gt;&gt;&gt; nurse.check_flag(is_job)
        True
        &gt;&gt;&gt; potato.check_flag(is_job)
        False

+slide
    +h(2) Match rules

    +list
        +item Neural networks best option for classification
        +item Not true that they need big data. Much better when you have only a few examples, too.
        +item Pre-training means network is "born knowing"


    +code.
        &gt;&gt;&gt; from spacy.matcher import Matcher
        &gt;&gt;&gt; matcher = Matcher(nlp.vocab)
        &gt;&gt;&gt; matcher.add_pattern(
          'X-for-job',
          [
            {IS_SCHOOL: True},
            {TAG: IN}, # to, for...
            {IS_JOB: True}
          ]
        )

+slide
    +h(2) Match rules (2)

    +code.
        &gt;&gt;&gt; doc = nlp(u"What's the best course for carpentry?')
        &gt;&gt;&gt; matches = matcher(doc)
        &gt;&gt;&gt; matches
        &gt;&gt;&gt; ent_id, label, start, end = matches
        &gt;&gt;&gt; span = doc[start:end]
        &gt;&gt;&gt; span
        course for carpentry
        &gt;&gt;&gt; span.lefts
        &gt;&gt;&gt; [u'the', u'best']
        &gt;&gt;&gt; span.merge()
        &gt;&gt;&gt; [w.text for w in doc]
        [u"What", u"'s", u"the", "u'best', u'course for carpentry', u'?']

+slide
    +h(2) Power of pre-training: sense2vec demo


+slide
    +h(2) Tips for getting started

    +list
        +item Use #[strong Keras] with #[stong Theano]
        +item TensorFlow is harder to install.
        +item Using AWS? Use the #[strong NVidia AMI]. Much easier.
        +item Otherwise, be sure to use #[strong Ubuntu 14.04].
        +item For fast GPU training, you want #[strong CUDA + cuDNN + cnmem]
            +list
                +item Not available in package managers 😞
                +item Download and install, Manually. Like some sort of primitive savage. Wtf NVidia.

+slide
    +h(2) spaCy and Keras

    +list
        +item #[strong Simple text classification for short texts:]#[br]
            | #[a.u-text-small(href="https://github.com/explosion/spaCy/blob/master/examples/deep_learning_keras.py") github.com/explosion/spaCy/blob/master/examples/deep_learning_keras.py]

    +list
        +item Set #[code trainable=False] on your vectors (important)
        +item Use #[code TimeDistributed(Dense())] to reduce dimensionality
        +item Use #[code Bidirectional(LSTM())]

    +list
        +item #[strong Example pairwise model:]#[br]
            | #[a.u-text-small(href="https://github.com/explosion/spaCy/tree/master/examples/keras_parikh_entailment") github.com/explosion/spaCy/tree/master/examples/keras_parikh_entailment]

    +list
        +item #[strong spaCy documentation]: #[a(href="https://spacy.io/docs") spacy.io/docs]
        +item #[strong Keras documentation]: #[a(href="https://keras.io") keras.io]

+slide("outro", "zoom")
    +h(1) Have fun & good luck! 💫
