//- ---------------------------------
//- 💥 BASE > UTILITIES
//- ----------------------------------

.u-text-center
    text-align: center

.u-color-theme
    color: $color-theme

.u-text-small
    font-size: 1.75rem

.u-heading
    margin-bottom: 2rem

@each $level, $size in (1: 6, 2: 4, 3: 3, 4: 2.8, 5: 2.5)
    .u-heading-#{$level}
        font: normal bold #{$size}rem/#{1.25} $font-primary
