//- ----------------------------------
//- 💥 LAYOUT
//- ----------------------------------

doctype html
html(lang="en")
    head
        title=title
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="/assets/css/reveal.css")

        if theme
            link#theme(rel="stylesheet" href="/assets/css/theme-#{theme}.css")

    body
        main.reveal.o-container
            .slides.o-slides
                !=yield

        if current.source != "index"
            script(src="/assets/js/prism.js")
            script(src="/assets/js/reveal.js")

            script.
                Reveal.initialize({
                    controls: true,
                    progress: false,
                    history: true,
                    center: true,
                    width: 1440,
                    height: 900
                })
