//- ---------------------------------
//- 💥 BASE > MIXINS
//- ----------------------------------

//- Size shorthand

@mixin size($width, $height: $width)
    width: $width
    height: $height


//- Position shorthand

@mixin position($position, $pos-y, $pos-x, $pos-y-value, $pos-x-value)
    position: $position
    #{$pos-y}: $pos-y-value
    #{$pos-x}: $pos-x-value
