//- ---------------------------------
//- 💥 EXPLOSION THEME
//- ----------------------------------

$color-back: #fff
$color-front: #1e1935
$color-subtle: #ddd
$color-subtle-dark: #949E9B
$color-theme: #1e1935

$font-primary: "Sailec", Helvetica, Arial, sans-serif
$font-code: "Input Mono Compressed", Consolas, "Andale Mono", Menlo, Monaco, Courier, monospace

@import _base/theme
