//- ---------------------------------
//- 💥 PYDATA BERLIN
//- ----------------------------------

include _mixins

+slide("intro", "slide", "fast")
    +spacy-logo

    +h(1) Designing spaCy:#[br]Industrial-strength NLP

    p Matthew Honnibal, #[a(href="https://spacy.io") spacy.io]

+slide
    +h(2) Like CoreNLP for Python

    +grid
        +col("half")
            +image("lightning-tour.png")

        +col("half")
            +list
                +item #[a(href="https://spacy.io") spacy.io]
                +item MIT license
                +item Commercially backed (sell models, services)
                +item Fastest in the world
                +item Within 2% of top accuracy
                +item Best API (says me)

+slide
    +h(2) Obligatory tortured #[span.u-text-small (torted?)] analogy

    +grid
        +col("half")
            p Let’s say you want a cake. Cool.
            p spaCy can help you bake a cake.
            p ...But spaCy is not #[em itself] a cake. It’s more like a kitchen.
                br
                |  If you tried to just eat it, you would not find it tastes delicious.
                br
                |  You have to make the cake first.

            p #[strong (Cakes here are language technology applications.)]

        +col("half")
            +image("cake.jpg")

+slide
    +h(2) Industrial NLP kitchen

    +grid
        +col("half")
            +image("kitchen.jpg")

        +col("half")
            +list
                +item spaCy is designed to help you make “cakes” (language technologies) for profit

                +item spaCy is very efficient, and the cakes it makes are very good.

                +item ...But if you don’t yet know what a cake even #[em is], it might be hard. At first.

                +item #[s Safety first]
                    br
                    |  #[s Safety second]
                    br
                    |  ...
                    br
                    | Sixth?

+slide
    +grid
        +col("half")
            +image("kitchen.jpg")

        +col("half")
            +image("kitchen2.jpg")
            +image("kitchen3.jpg")

+slide
    +h(2) What we didn’t do: "Pluggable architecture"

    +list
        +item NLP is cut up into lots of little problems
        +item Tokenization, part-of-speech tagging, parsing, NER...
        +item Lots of algorithms for each problem
        +item Standard solution: Library is scaffolding, user plugs together
        +item This is a horrible, bad, no-good idea

+slide
    +h(2) Pluggable architecture makes wrong thing easy

    +list
        +item Suggests models are interchangeable. They’re not.
        +item Implies “horses for courses”
        +item Algorithms get old. Let them die.
        +item If algorithmic details exposed in API, can’t retire without breaking change.

+slide
    +h(2) What we didn’t do: Stand-off annotation

    +list
        +item Common problem: "destructive tokenization"
            +code.
                &gt;&gt;&gt; tokenize("Can’t get string back!")
                [“Ca”, “n’t”, “get”, “string”, “back”, “!”]

        +item Standard answer: stand-off annotation  
            +code.
                &gt;&gt;&gt; tokenize("Can’t get string back!"") 
                [(0, 2), (2, 5), (6, 9), (10, 15), (16, 20), (20, 21)]

+slide
    +h(2) Stand-off annotation isn’t practical

    +list
        +item Stand-off annotation
            +code.
                &gt;&gt;&gt; tokenize(“Can’t get string back!”) 
                [(0, 2), (2, 5), (6, 9), (10, 15), (16, 20), (20, 21)]

        +item Constantly slice into string to get use the token
        +item Works in theory... But an answer only a standards-body could love
        +item Slow and impractical

+slide
    +h(2) spaCy’s text representation (roughly)

    +grid
        +col("half")
            +list
                +item Central store of #[em lexical types]
                    +list
                        +item Number of types grows exponentially slower than number of tokens

                +item Include tokens for non-trivial whitespace
                +item Track start indices
                +item Know whether a token "owns" following whitespace


        +col("half")
            +code.
                cdef struct LexemeC:
                    const char* string
                    int32_t length
                    uint64_t flags

                cdef struct TokenC:
                    const LexemeC* lex
                    AnnotationC annot
                    int32_t start
                    bool has_space

                cdef TokenC* doc

+slide
    +h(2) Design of ML parts

    +grid
        +col("half")
            +list
                +item Cannot easily batch problem — require per-example #[code predict()] and #[code update()] methods
                +item Currently linear model, tonnes of features (around 9m individual predictors for the parsing model)
                +item Why so sparse? #[a(href="https://spacy.io/demos/displacy") spacy.io/demos/displacy]
                +item Features are hash values, collisions be damned. (Safety sixth)
                +item #[a(href="https://github.com/spacy-io/thinc/blob/master/thinc/linear/avgtron.pyx") github.com/spacy-io/thinc/blob/master/thinc/linear/avgtron.pyx]

        +col("half")
            +code.u-text-tiny.
                cdef int parseC(self, TokenC* tokens, int length,
                    int nr_feat, int nr_class) nogil:

                    state = new StateC(tokens, length)
                    self.moves.initialize_state(state)
                    while not state.is_final():
                        self.model.set_featuresC(&eg, state)
                        self.moves.set_valid(eg.is_valid, state)
                        self.model.set_scoresC(eg.scores, eg.features, eg.nr_feat)
                        guess = arg_max_if_true(eg.scores, eg.is_valid, eg.nr_class)
                        action = self.moves.c[guess]
                        action.do(state, action.label)
                        fill(eg.scores, 0, eg.nr_class)
                        fill(eg.is_valid, 1, eg.nr_class)

+slide
    +h(2) Implementation of Python layer

    +list
        +item Python classes are views of the underlying C data
            br
            a(href="https://github.com/spacy-io/spaCy/blob/master/spacy/tokens/token.pyx").u-text-small github.com/spacy-io/spaCy/blob/master/spacy/tokens/token.pyx

        +item Try not to store data twice — single source of truth. Therefore, try not to hold data in Python.
        +item Python classes hold a Pool object, for memory management
            br
            a(href="https://github.com/spacy-io/cymem/blob/master/cymem/cymem.pyx").u-text-small github.com/spacy-io/cymem/blob/master/cymem/cymem.pyx

+slide
    +h(2) Python API philosophy

    +list
        +item #[a(href="https://spacy.io/docs") spacy.io/docs]
        +item Try to minimise number of bits in mental representation of API
        +item Use #[code __getitem__], #[code __call__], #[code __iter__] where possible
        +item Use properties liberally, in place of methods. (Sometimes regrets)
        +item Argument may be different types on input.
        +item Return should not be different types on output.

+slide("outro", "zoom")
    +h(1) Thanks!

    p
        a(href="https://spacy.io") spacy.io

        br

        +icon("github")
        a(href="https://github.com/spacy-io/spaCy") github.com/spacy-io/spaCy

    p
        code pip install spacy
        br
        code conda install spacy

    p
        +icon("mail")
        a(href="mailto:contact@spacy.io") contact@spacy.io

        br

        +icon("twitter")
        a(href="https://twitter.com/spacy_io") @spacy_io
